@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
  font-family: 'Zen Dots', Verdana, Arial, Helvetica, sans-serif;
}

#content {
  min-height: fit-content;
}

main {
  letter-spacing: 2px;
  display: block;
  z-index: 1;
}

#curvedLine {
  height: 200%;
  width: fit-content;
  position: absolute;
  margin-left: 10%;
  z-index: 0;
  opacity: 50%;
}

#foodBanner {
  width: 60%;
  padding-right: 4%;
  border-radius: 20px;
  float: left;
}

#deliveryPic {
  width: 60%;
  padding-left: 4%;
  border-radius: 20px;
  float: right;  
}

#mapPic {
  width: 60%;
  padding-right: 4%;
  border-radius: 20px;
  float: left;
}

main article {
	margin-left: 10%;
	margin-right: 10%;
	overflow: auto;
  padding-top: 8%;
	padding-left: 5%;
	padding-right: 5%;
}


#content p {
  padding-top: 2%;
}

#promise {
  padding-top: 70px;
  padding-bottom: 60px;
  text-align: center;
}

#promise span {
  font-style: italic;
  text-shadow: 2px 2px 5px #F97432;
}