@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
  font-family: 'Zen Dots', Verdana, Arial, Helvetica, sans-serif;
}

#content {
  position: relative;
}

body{
  
}

#content img {
  height: 250px;
  width: auto;

  min-height: fit-content;

}

#main {
  padding-bottom: 8%;
}

#main article {
  text-align: center;
  padding-top: 3em;
}

#main p {
  padding-top: 2em;
}

img {
  height: 300px;
  width: 300px;
}

.bio_pic {
  border: 8px solid #F97432;
  border-style: ridge;
  border-radius: 10%;
  position: relative;
}
