#content {
  position: relative;
}

body{
  overflow-x: hidden;
}

#content img {
  height: 100px;
  width: 100px;

  min-height: fit-content;

}

#main {
  padding-bottom: 8%;
}

#main article {
  text-align: center;
  padding-top: 3em;
  padding-left: 2em;
}

#main p {
  padding-top: 2em;
}

img {
  height: 300px;
  width: 300px;
}

#bio_pic {
  border: 5px solid #F97432;
  border-style: ridge;
  border-radius: 10%;
  position: relative;
}
