@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

#content p {
  padding-top: 2%;
}

body{
  font-family: 'Zen Dots', Verdana, Arial, Helvetica, sans-serif; 
  font-size:18px;
}

form {
  position: relative;
  left: 20%;
  top: 5em;
}

#submit {
  background: #F97432; 
  width: 10em;
  padding: .5%;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-family: 'Zen Dots', Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#submit:hover {
  border-radius: 10px;
  background: orange;
  box-shadow: 2px 2px 2px #fd671c;
}

/* smartphone */

@media screen and (max-width: 37.5em) {

  #content {
    width: 100%;
  }
  
  #content form {
    left: 3em;
  }
}