body {
    position: relative;
}
.typeList {
position: relative;
top: 30px;
width: 50%;
margin: auto;
text-align: center;
list-style-type: none;

}

.typeList li {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-top: 5px;
    padding: 5px 0px;
    background-color: #ff8041;
    border-radius: 15px;
}

.typeList a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.foodList {
    position: relative;
    list-style-type: none;
    width: 80%;
    margin: auto;
    text-align: center;
    top: 30px;
    font-weight: bold;
}

.foodList img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 20px;
    left: 0px;
    margin: auto;
    max-height: 130px;
}

.foodList li {
    position: relative;
    width: 155px;
    height: 155px;
    display: inline-block;
    border: solid #fd671c 3px;
    border-radius: 15px;
    text-align: center;
    background-color: #f97432af;
    
    
    
}

.foodList li p {
    text-align: center;
    position: relative;
}

.foodList li .foodItem {
    top: 1px;
}
.foodList li .cost {
    top: 117px;
}
