@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
    position: relative;
    font-family: 'Zen Dots', Verdana, Arial, Helvetica, sans-serif;
}
.typeList {
    position: relative;
    top: 30px;
    width: 60%;
    margin: auto;
    padding-bottom: 20%;
    text-align: center;
    list-style-type: none;

}

.typeList li {
    color: white;
    text-decoration: none;
    font-size: 2em;
    height: 5%;
    margin-top: 4%;
    padding: 4%;
    background-color: #ff8041;
    border-radius: 15px;
}

.typeList li:hover {
    border-radius: 25px;
    text-shadow: 2px 2px 2px #fd671c;
    text-transform: uppercase;
    box-shadow: 3px 3px 3px #fd671c;
    background: orange;
}

.typeList a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.foodList {
    position: relative;
    list-style-type: none;
    width: 80%;
    margin: auto;
    text-align: center;
    top: 30px;
    font-weight: bold;
}

.foodList img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 20px;
    left: 0px;
    margin: auto;
    max-height: 130px;
}

.foodList li {
    position: relative;
    width: 155px;
    height: 155px;
    display: inline-block;
    border: solid #fd671c 3px;
    border-radius: 15px;
    text-align: center;
    background-color: #f97432af;
    
    
    
}

.foodList li p {
    text-align: center;
    position: relative;
}

.foodList li .foodItem {
    top: 1px;
}
.foodList li .cost {
    top: 117px;
}
