
html{
  background: #FFFBFF;
}

#menu_img {
  width: 15%;
  height: 40px;
  padding: 8px;
}

#menu_img:hover {
  background: #92817A;
  border-radius: 12px;
}

header {
  background: #F1DABF;
  height: 50px;
  padding: 20px;
}

#header-img {
  width: 100%;
  height: 800px;
  background: url('../images/deskIcon.png');
  background-size: cover;
}

.menu {
  float: right;
}
.menu ul {
  list-style: none;
  margin: 10px;
  padding: 0;
}

.menu li {
  display: inline-block;
  padding: 0 15px;
}
.menu a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Lato';
}

.menu a:hover {
  text-decoration: underline;
}

.button {
  border: none;
  background: #362417;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

/*
.button:hover {
  background-color: red;
}
*/

footer{
  background: #F1DABF;
  font-family: sans-serif;
  height: 150px;
  padding: 30px;
}